@model Customer

@{
    ViewData["Title"] = "Kunder";
}


<div class="row">
    <div class="col-md-6 offset-1-md-3">
        <h3>Ny Kund</h3>
    <form asp-action="Create" autocomplete="off">
    <input type="hidden" asp-for="CustomerId" />
    <input type="hidden" asp-for="CustomerBooks" />


<div class="form-group">
    <label asp-for="FirstName" class="control-label"></label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>


<div class="form-group">
    <label asp-for="LastName" class="control-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>


    <div class="row mt-2">
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="submit" class="btn btn-primary w-100" />
            </div>
        </div>
        <div class="col-md-6">
            <a asp-action="Index" class="btn btn-secondary w-100">Se alla kunder</a>
        </div>
    </div>
</form>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

