@model CustomerViewModel

<div class="row">
    <div class="col-md-6 offset-1-md-3">
        <h3>Ange LåneID</h3>
        <form asp-controller="CustomerBook" asp-action="Create" autocomplete="on">
            <input type="hidden" asp-for="CustomerBook.CustomerBookId" />
            <input type="hidden" asp-for="CustomerBook.LoanDate" />
            <input type="hidden" asp-for="CustomerBook.ReturnDate" />
            <input type="hidden" asp-for="CustomerBook.BookId" />

            <div class="form-group">
            <label >Välj Låntagare</label>
            <select asp-for="@Model.CustomerBook.CustomerId" class="form-select form-select-lg" aria-label=".form-select-lg">
            @foreach (var item in Model.customers)
            {
                <option value="@item.CustomerId">@item.FirstName @item.LastName </option>
            }
            </select>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="submit" class="btn btn-primary w-100" />
                    </div>
                </div>
                <div class="col-md-6">
                    <a asp-controller="Book" asp-action="Index" class="btn btn-secondary w-100">Se alla böcker</a>
                </div>
            </div>
        </form>
    </div>
</div>
